<% if @articles.empty? %>
  <p>please create a new article</p>
<% else %>
<div class="bg-warning py-5">
  <h1 class="display-4 text-center">Articles</h1>
  <div class="text-center">
    <img src="<%= @most_likes.image %>" alt="Most Liked Article Image">
    <br>
  </div>
  <hr class="my-4">
  <div class="text-center">
    <%= link_to @most_likes.title, article_path(@most_likes.id) %>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
      <div class="card">
        <h1 class="card-header text-center new-h1"><%= soccer_category.name %></h1>
        <img src="<%= soccer_category.most_recent_article[0].image %>" alt="Soccer Category Image">
        <div class="card-body">
          <%= link_to soccer_category.most_recent_article[0].title, article_path(soccer_category.most_recent_article[0].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Published <%= distance_of_time_in_words(soccer_category.most_recent_article[0].created_at, Time.now) %></small>
        </div>
      </div>
    </div>
    <!-- Repeat the above card structure for other categories -->
    <div class="col">
      <div class="card">
        <h1 class="card-header text-center new-h1"><%= nba_category.name %></h1>
        <img src="<%= nba_category.most_recent_article[-1].image %>" alt="NBA Category Image">
        <div class="card-body">
          <%= link_to nba_category.most_recent_article[-1].title, article_path(nba_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Published <%= distance_of_time_in_words(nba_category.most_recent_article[-1].created_at, Time.now) %></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h1 class="card-header text-center new-h1"><%= nfl_category.name %></h1>
        <img src="<%= nfl_category.most_recent_article[-1].image %>" alt="NFL Category Image">
        <div class="card-body">
          <%= link_to nfl_category.most_recent_article[-1].title, article_path(nfl_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Published <%= distance_of_time_in_words(nfl_category.most_recent_article[-1].created_at, Time.now) %></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h1 class="card-header text-center new-h1"><%= mlb_category.name %></h1>
        <img src="<%= mlb_category.most_recent_article[-1].image %>" alt="MLB Category Image">
        <div class="card-body">
          <%= link_to mlb_category.most_recent_article[-1].title, article_path(mlb_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Published <%= distance_of_time_in_words(mlb_category.most_recent_article[-1].created_at, Time.now) %></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h1 class="card-header text-center new-h1"><%= nhl_category.name %></h1>
        <img src="<%= nhl_category.most_recent_article[-1].image %>" alt="NHL Category Image">
        <div class="card-body">
          <%= link_to nhl_category.most_recent_article[-1].title, article_path(nhl_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Published <%= distance_of_time_in_words(nhl_category.most_recent_article[-1].created_at, Time.now) %></small>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
