<p id="notice"><%= notice %></p>

<div class="container-fluid">
 <div class="jumbotron bg-warning">
    <h1 class="display-4 text-center" >Articles</h1>
      <div class="text-center">
        <img  src='<%= @most_likes.image %>' /> <br>
      </div>
    <hr class="my-4">
      <div class="text-center">
        <%=link_to @most_likes.title,article_path(@most_likes.id) %>
      </div>

    <div class="card-deck">
      
      <div class="card">
       <h1 class="text-center"><%= soccer_category.name %></h1>
         <img src='<%= soccer_category.most_recent_article[-1].image %>' />
        <div class="card-body">
          <%=link_to soccer_category.most_recent_article[-1].title,article_path(soccer_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>

      <div class="card">
        <h1 class="text-center"><%= nba_category.name %></h1>
          <img src='<%= nba_category.most_recent_article[-1].image %>' />
          <div class="card-body">
            <%=link_to nba_category.most_recent_article[-1].title,article_path(nba_category.most_recent_article[-1].id) %>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
      </div>
     
     <div class="card">
        <h1 class="text-center"><%= nfl_category.name %></h1>
          <img src='<%= nfl_category.most_recent_article[-1].image %>' />
          <div class="card-body">
            <%=link_to nfl_category.most_recent_article[-1].title,article_path(nfl_category.most_recent_article[-1].id) %>
          </div>
          <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
          </div>
      </div>

      <div class="card">
         <h1 class="text-center"><%= mlb_category.name %></h1>
          <img src='<%= mlb_category.most_recent_article[-1].image %>' />
          <div class="card-body">
            <%=link_to mlb_category.most_recent_article[-1].title,article_path(mlb_category.most_recent_article[-1].id) %>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
      </div>
      
      <div class="card">
        <h1 class="text-center"><%= nhl_category.name %></h1>
          <img src='<%= nhl_category.most_recent_article[-1].image %>' />
        <div class="card-body">
          <%=link_to nhl_category.most_recent_article[-1].title,article_path(nhl_category.most_recent_article[-1].id) %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>



<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <%# @most_likes.title %>
      <img src='<%= @most_likes.image %>' /> <br>
      <%=link_to @most_likes.title,article_path(@most_likes.id) %>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.author.name %></td>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><img src='<%= article.image %>' /></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= like_or_dislike_btn(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


