<p id="notice"><%= notice %></p>

<div class="main container">
<h2>
  <strong>Author:</strong>
  <%= @article.author.name %>
</h2>

<h2>
  <strong>Title:</strong>
  <%= @article.title %>
</h2>

<hr/>

<p class="mx-2 ">
  <%= @article.body %>
</p>

<p>
  
  <img src='<%= @article.image %>' />
</p>

<h2>
  <strong>Likes:</strong>
  <%= @article.likes.count %>
</h2>

<h2>
  <strong>categories:</strong>
  <% @article.categories.each do |cat| %>
    <%= cat.name %>
    <% end %>
</h2>

<%= link_to 'Edit', edit_article_path(@article),class:"btn btn-info" %> |
<%= link_to 'Back', articles_path,class:"btn btn-info" %>
</div>