<p id="notice"><%= notice %></p>

<div class="main container">
<h3 class="text-center">
  <strong>Name:</strong>
  <%= @category.name %>
</h3>

<h3 class="text-center">
  <strong>Priority:</strong>
  <%= @category.priority %>
</h3>
<hr/>
<h1 class="text-center">
  <%=link_to @most_recent_article[-1].title,article_path(@most_recent_article[-1].id) %>
</h1>
<hr/>    

<div class="d-flex flex-wrap justify-content-start">
<% @articles.each do |art|%>
<div class="card col-12 col-md-6 artimg">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img class="inside" src='<%= art.image %>' ><br/>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title"><%= art.title %></h5>
        <p class="card-text m-3 border"><%= truncate(art.body, length: 200) %></p>
        <p class="card-text"><small class="text-muted"><%= link_to 'Read More',article_path(art.id) %> </small></p>
        <%= edit_content(art) %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<br/>
<%= link_to 'Edit', edit_category_path(@category),class:"btn btn-info" %>
<%= link_to 'Back', categories_path,class:"btn btn-info" %>
</div>
        
        
        
        
      