<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>


<ul>
  <%# @most_recent_article.inspect %>
  <%=link_to @most_recent_article[0].title,article_path(@most_recent_article[0].id) %>
  <% @articles.each do |art|%>
  <li><%= link_to art.title,article_path(art.id) %></li>
  <% end %>
</ul>